.nav {
	grid-area: nav;
	background-color: #92aa7c;
	display: flex;
	gap: 10px;
	flex-direction: column;
	padding: 15px;
}

.item {
	color: #fff;
	font-size: 20px;
	position: relative;
	transition: all 0.2s ease;
	&.active {
		color: #d0c52d;
		margin-left: 15px;
		&:before {
			content: '● ';
			position: absolute;
			top: 50%;
			left: -15px;
			transform: translateY(-50%);
			font-size: 13px;
		}
	}
	&:hover {
		color: #d0c52d;
	}
}